*{
    margin:0;
    padding:0;
}
.material-icons{
    color: #0011f86b;
    
}

#metaDataScenarios{
    color: rgba(72, 72, 73, 0.842);
    
}

#metaDataFeatures
{
    color: rgba(72, 72, 73, 0.842);
    
}
#metaData
{
    color: rgba(72, 72, 73, 0.842);
    
}